@font-face {
        font-family: "Yellowtail";
        src: url('Styles/fonts/Yellowtail-Regular.ttf')
        format('truetype');
        font-weight: bold;
        font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url('Styles/fonts/Montserrat-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: "Montserrat";
}

.headline{
    font-family: "Yellowtail";
    font-size: 3rem;
    text-decoration: underline wavy;
    text-decoration-color: #e1eedd;
}

.fixed_width{
    height: 32px;
    width: 32px;
    max-height: 32px;
    max-width: 32px;
    /* border:1px solid grey;
    border-radius: 10px; */
}


   
    
    
    
